<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5066 sha256=7587c4a6a803944456f71dcc5514d0c8bf19e0bf9a109f56e13d1ab34a3e0e84
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/21/10/7b/c13bc3e24a3c1000a34554802ad8aa0ff27df56366998a0473
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x7f732a591590>,
 <randomuser.RandomUser at 0x7f732a5915d0>,
 <randomuser.RandomUser at 0x7f732a591610>,
 <randomuser.RandomUser at 0x7f732a591650>,
 <randomuser.RandomUser at 0x7f732a591690>,
 <randomuser.RandomUser at 0x7f732a591710>,
 <randomuser.RandomUser at 0x7f732a591750>,
 <randomuser.RandomUser at 0x7f732a591790>,
 <randomuser.RandomUser at 0x7f732a5917d0>,
 <randomuser.RandomUser at 0x7f732a5916d0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [6]:
name = r.get_full_name()

In [10]:
name

'Jara Pierre'

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [11]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Jimi Kivi   jimi.kivi@example.com
Evelyn Kabel   evelyn.kabel@example.com
Selma Rasmussen   selma.rasmussen@example.com
Principiano Duarte   principiano.duarte@example.com
Ruben Mercier   ruben.mercier@example.com
Melissa Stone   melissa.stone@example.com
Carter Gill   carter.gill@example.com
بردیا کریمی   brdy.khrymy@example.com
Jessica Mendoza   jessica.mendoza@example.com
Olenka Cardoso   olenka.cardoso@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [12]:
## Write your code here
for user in some_list:
    print (user.get_full_name()," ",user.get_picture())

Jimi Kivi   https://randomuser.me/api/portraits/men/0.jpg
Evelyn Kabel   https://randomuser.me/api/portraits/women/3.jpg
Selma Rasmussen   https://randomuser.me/api/portraits/women/17.jpg
Principiano Duarte   https://randomuser.me/api/portraits/men/28.jpg
Ruben Mercier   https://randomuser.me/api/portraits/men/19.jpg
Melissa Stone   https://randomuser.me/api/portraits/women/9.jpg
Carter Gill   https://randomuser.me/api/portraits/men/30.jpg
بردیا کریمی   https://randomuser.me/api/portraits/men/76.jpg
Jessica Mendoza   https://randomuser.me/api/portraits/women/86.jpg
Olenka Cardoso   https://randomuser.me/api/portraits/women/26.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [13]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [14]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Édipo Barbosa,male,Juiz de Fora,Alagoas,edipo.barbosa@example.com,1993-03-25T02:59:43.088Z,https://randomuser.me/api/portraits/men/73.jpg
1,Buse Keseroğlu,female,Çanakkale,Sivas,buse.keseroglu@example.com,1992-12-30T13:48:15.582Z,https://randomuser.me/api/portraits/women/21.jpg
2,Tristan Petersen,male,Gjern,Hovedstaden,tristan.petersen@example.com,1995-06-02T06:06:37.850Z,https://randomuser.me/api/portraits/men/47.jpg
3,Annebeth Abdullah,female,Hollandsche Rading,Noord-Holland,annebeth.abdullah@example.com,1958-10-08T12:40:12.036Z,https://randomuser.me/api/portraits/women/89.jpg
4,Juriaan Kruis,male,Papendrecht,Drenthe,juriaan.kruis@example.com,1971-05-02T13:13:24.833Z,https://randomuser.me/api/portraits/men/35.jpg
5,Ryan Jones,male,Greymouth,Taranaki,ryan.jones@example.com,1962-10-16T22:49:31.372Z,https://randomuser.me/api/portraits/men/93.jpg
6,Caleb Jackson,male,Nelson,West Coast,caleb.jackson@example.com,1956-03-03T01:33:18.558Z,https://randomuser.me/api/portraits/men/12.jpg
7,Samuel Sanchez,male,Fuenlabrada,Islas Baleares,samuel.sanchez@example.com,1972-07-01T23:33:51.462Z,https://randomuser.me/api/portraits/men/28.jpg
8,Sylvia Caldwell,female,Perth,Western Australia,sylvia.caldwell@example.com,1998-08-01T04:28:19.298Z,https://randomuser.me/api/portraits/women/47.jpg
9,Gonzalo Rodriguez,male,Alcalá de Henares,País Vasco,gonzalo.rodriguez@example.com,1980-06-21T21:24:12.913Z,https://randomuser.me/api/portraits/men/94.jpg

In [17]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [18]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [19]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [27]:
# just an overview of the data
data.text[0:500]

'[{"name":"Persimmon","id":52,"family":"Ebenaceae","order":"Rosales","genus":"Diospyros","nutritions":{"calories":81,"fat":0.0,"sugar":18.0,"carbohydrates":18.0,"protein":0.0}},{"name":"Strawberry","id":3,"family":"Rosaceae","order":"Rosales","genus":"Fragaria","nutritions":{"calories":29,"fat":0.4,"sugar":5.4,"carbohydrates":5.5,"protein":0.8}},{"name":"Banana","id":1,"family":"Musaceae","order":"Zingiberales","genus":"Musa","nutritions":{"calories":96,"fat":0.2,"sugar":17.2,"carbohydrates":22.0'

In [28]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [32]:
# just an overview of the data
results[0:3]

[{'name': 'Persimmon',
  'id': 52,
  'family': 'Ebenaceae',
  'order': 'Rosales',
  'genus': 'Diospyros',
  'nutritions': {'calories': 81,
   'fat': 0.0,
   'sugar': 18.0,
   'carbohydrates': 18.0,
   'protein': 0.0}},
 {'name': 'Strawberry',
  'id': 3,
  'family': 'Rosaceae',
  'order': 'Rosales',
  'genus': 'Fragaria',
  'nutritions': {'calories': 29,
   'fat': 0.4,
   'sugar': 5.4,
   'carbohydrates': 5.5,
   'protein': 0.8}},
 {'name': 'Banana',
  'id': 1,
  'family': 'Musaceae',
  'order': 'Zingiberales',
  'genus': 'Musa',
  'nutritions': {'calories': 96,
   'fat': 0.2,
   'sugar': 17.2,
   'carbohydrates': 22.0,
   'protein': 1.0}}]

In [34]:
pd.DataFrame(results).head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

The result is in a nested json format. The 'nutritions' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [35]:
df2 = pd.json_normalize(results)

In [37]:
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [40]:
cherry = df2.loc[df2["name"] == 'Cherry']
cherry

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
37,Cherry,9,Rosaceae,Rosales,Prunus,50,0.3,8.0,12.0,1.0

In [43]:
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [50]:
df2["name"]

0              Persimmon
1             Strawberry
2                 Banana
3                 Tomato
4                   Pear
5                 Durian
6             Blackberry
7            Lingonberry
8                   Kiwi
9                 Lychee
10             Pineapple
11                   Fig
12            Gooseberry
13          Passionfruit
14                  Plum
15                Orange
16            GreenApple
17             Raspberry
18            Watermelon
19                 Lemon
20                 Mango
21             Blueberry
22                 Apple
23                 Guava
24               Apricot
25                 Melon
26             Tangerine
27              Pitahaya
28                  Lime
29           Pomegranate
30           Dragonfruit
31                 Grape
32                 Morus
33                Feijoa
34               Avocado
35             Kiwifruit
36             Cranberry
37                Cherry
38                 Peach
39             Jackfruit
40          Horned Melon
41              Hazelnut
42                Pomelo
43            Mangosteen
44               Pumpkin
45    Japanese Persimmon
46                Papaya
47                Annona
48     Ceylon Gooseberry
Name: name, dtype: object

In [51]:
# Write your code here
banana = df2.loc[df2["name"] == 'Banana']
banana

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0

In [53]:
#banana.iloc[0]['nutritions.calories'] # solution (gets only the value)
banana['nutritions.calories'] # my solution (get the index)

96

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [54]:
# Write your code here
url = 'https://official-joke-api.appspot.com/jokes/ten'
r = requests.get(url)

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [57]:
# Write your code here
r_retrieved = json.loads(r.text)

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [62]:
# Write your code here
r_retrieved_df = pd.DataFrame(r_retrieved)
r_retrieved_df.head()

,type,setup,punchline,id
0,general,How do you make holy water?,You boil the hell out of it,53
1,general,What did the traffic light say to the car as i...,Don't look I'm changing!,187
2,general,How come the stadium got hot after the game?,Because all of the fans left.,116
3,general,Why are skeletons so calm?,Because nothing gets under their skin.,310
4,general,what do you call a dog that can do magic tricks?,a labracadabrador,203

In [63]:
r_retrieved_df.pop('type')
r_retrieved_df.pop('id')
r_retrieved_df.head()

,setup,punchline
0,How do you make holy water?,You boil the hell out of it
1,What did the traffic light say to the car as i...,Don't look I'm changing!
2,How come the stadium got hot after the game?,Because all of the fans left.
3,Why are skeletons so calm?,Because nothing gets under their skin.
4,what do you call a dog that can do magic tricks?,a labracadabrador

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.